{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="header_wrapper">
	<header>
		<div class="logo">
			<img src="img/Tnet_logo.png" alt="">
		</div>
		<div class="login_info">
			<p>TTRI/產服部 林雅雯</p>    
			<p>帳號到期日 2017/03/31 </p>
			<a href="">登出</a>
			<a href="">文章收藏夾</a>
			<a href="">編輯資料</a>
			<a href="">張貼文章</a>
			<a href="">續約</a>
		</div>

		<div class="treebtn">
			<a href="" class="freemember"> <span class="oo"><img src="img/icon_a1.png" alt=""></span> 免費閱讀專區</a>
			<a href="" class="freemember"><span class="oo"><img src="img/icon_a2.png" alt=""></span>歷史電子報</a>
			<a href="" class="fb"><img src="img/fb.jpg" alt=""></a>
		</div>


			<!-- mobile menu -->
		<div class="hamburg">
			<span class="aaa"></span>
			<span class="bbb"></span>
			<span class="ccc"></span>
		</div>

		<div class="aside">
			<ul>
				<li>
					<a href="#" class="m-first">原料紗線 
						<div class="go_submenu">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</div>
					</a>
					<div class="m-second_bg">
						<div class="goback second-goback"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>原料紗線 </div>
						<ul class="ul-second">
							<li><a href="#" class="m-second">衣著用紡織品</a></li>
							<li><a href="#" class="m-second">家飾用紡織品</a></li>
							<li><a href="#" class="m-second">產業用紡織品</a></li>
							<li><a href="#" class="m-second">產業用紡織品</a></li>
							<li><a href="#" class="m-second">產業用紡織品</a></li>
							<li><a href="#" class="m-second">產業用紡織品</a></li>
							<li><a href="#" class="m-second">產業用紡織品</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#"  class="m-first">織布 
						<div class="go_submenu">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</div>
					</a>
				</li>
				<li><a href="#"  class="m-first">染整 </a></li>
				<li><a href="#"  class="m-first">成衣 </a></li>
				<li><a href="#"  class="m-first">市場零售 </a></li>
				<li><a href="#"  class="m-first">產業數據 </a></li>
				<li><a href="#"  class="m-first">市場零售 </a></li>
				<li><a href="#"  class="m-first">研討會與展會 </a></li>
	
			</ul>
		</div>

	</header>
</div>

<div class="menu_wrapper">
	<div class="desk_menu">
		<ul>
			<li>
				<a href="">原料紗線</a>
				<ul class="dropdown ">
					<li><a href="#">衣著用紡織品</a></li>
					<li><a href="#">家飾用紡織品</a></li>
					<li><a href="#">產業用紡織品</a></li>
					
				</ul>
			</li>
			<li>
				<a href="">織布</a>
				<ul class="dropdown ">
					<li><a href="#">衣著用紡織品</a></li>
					<li><a href="#">家飾用紡織品</a></li>
					<li><a href="#">產業用紡織品</a></li>
				</ul>	
			</li>
			<li>
				<a href="">染整</a>
				<ul class="dropdown ">
					<li><a href="#">衣著用紡織品</a></li>
					<li><a href="#">家飾用紡織品</a></li>
					<li><a href="#">產業用紡織品</a></li>
					
				</ul>
			</li>
			<li>
				<a href="">成衣</a>
				<ul class="dropdown "></ul>
			</li>
			<li>
				<a href="">市場零售</a>
				<ul class="dropdown "></ul>
			</li>
			<li>
				<a href="">整體產經</a>
				<ul class="dropdown "></ul>
			</li>
			<li>
				<a href="">產業數據</a>
				<ul class="dropdown "></ul>
			</li>
			<li>
				<a href="">研討會與展會</a>
				<ul class="dropdown "></ul>
			</li>
		</ul>
		<div class="search_part">
			<div class="search_select">標題搜尋 <i class="fa fa-caret-down" aria-hidden="true"></i></div>
			<input type="text">
			<div class="search_icon"><i class="fa fa-search" aria-hidden="true"></i></div>
		</div>
		

		<div class="f-section">
			<div class="login_info_btn">
				<i class="fa fa-user" aria-hidden="true"></i>
			</div>
			<div class="login_info_content">
				<div class="section_a">
				<a href="">登入</a>
				</div>
				<div class="section_a">
					<p>TTRI/產服部 林雅雯</p>    
					<p>帳號到期日 2017/03/31 </p>
				</div>
				<div class="section_a">
						<a href="">登出</a>
						<a href="">文章收藏夾</a>
						<a href="">編輯資料</a>
						<a href="">張貼文章</a>
						<a href="">續約</a>
				</div>
			</div>
		</div>

	</div>

</div>



<div class="new_article">

	<div class="article_photo">
		<div class="top_cross">
			<div class="slider3">
			  <div class="slide"><img src="img/cross_01.jpg" alt=""></div>
			  <div class="slide"><img src="img/cross_02.jpg" alt=""></div>
			  <div class="slide"><img src="img/cross_03.jpg" alt=""></div>
			  <div class="slide"><img src="img/cross_04.jpg" alt=""></div>
			  <div class="slide"><img src="img/cross_05.jpg" alt=""></div>
	
			</div>

			
		</div>
		<div class="bottom_single"><img src="img/photo_02.jpg" alt=""></div>
		<div class="bottom_single"><img src="img/photo_03.jpg" alt=""></div>
	</div>


	<div class="article_list">
		<div class="article_title">
			<div class="t-title">
		
				<h6>最新文章</h6>
			</div>
			<a href="" class="more">More  <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
		</div>

		<div class="article_item">
			<div class="thumbnail_img"><img src="img/t01.jpg" alt=""></div>
			<div class="article_content">
				<h6>課程初稿 智慧布料與穿戴科學程</h6>
				<p>多功能彈性纖維紡織品的發展趨勢，網布在機能性服飾的應功能彈性纖維紡，織品的發展趨勢網服飾的應用功能彈飾的應用，織品的發展趨勢網服飾的應用功能彈飾的應用......  </p>
			</div>
		</div>
		<div class="article_item">
			<div class="thumbnail_img"><img src="img/t02.jpg" alt=""></div>
			<div class="article_content">
				<h6>課程初稿 智慧布料與穿戴科學程</h6>
				<p>多功能彈性纖維紡織品的發展趨勢，網布在機能性服飾的應功能彈性纖維紡，織品的發展趨勢網服飾的應用功能彈飾的應用，織品的發展趨勢網服飾的應用功能彈飾的應用......  </p>
			</div>
		</div>

		<div class="article_item">
			<div class="thumbnail_img"><img src="img/t03.jpg" alt=""></div>
			<div class="article_content">
				<h6>課程初稿 智慧布料與穿戴科學程</h6>
				<p>多功能彈性纖維紡織品的發展趨勢，網布在機能性服飾的應功能彈性纖維紡，織品的發展趨勢網服飾的應用功能彈飾的應用，織品的發展趨勢網服飾的應用功能彈飾的應用......  </p>
			</div>
		</div>
	</div>
</div>


<!-- hot issue -->
<div class="common_title">
	<div class="main_title">
		<div class="t-title">
	
			<h6>熱門議題</h6>
		</div>
	</div>
</div>

<div class="hot_issue">
	<div class="issue_content">
		<div class="photo">
			<img src="img/t04.jpg" alt="">
			<div class="issue_grey">
				運動休閒
			</div>
		</div>
		<h6>課程初稿 智慧布料與穿</h6>
		<p>多功能彈性纖維紡織品的發展勢，能彈性纖維紡在機能性服飾的用飾的應用...... <a href="">更多</a> </p>
	</div>

	<div class="issue_content">
		<div class="photo">
			<img src="img/t04.jpg" alt="">
			<div class="issue_grey">
				跨境電商
			</div>
		</div>
		<h6>課程初稿 智慧布料與穿</h6>
		<p>多功能彈性纖維紡織品的發展勢，能彈性纖維紡在機能性服飾的用飾的應用...... <a href="">更多</a> </p>
	</div>

	<div class="issue_content">
		<div class="photo">
			<img src="img/t04.jpg" alt="">
			<div class="issue_grey">
				展會直擊
			</div>
		</div>
		<h6>課程初稿 智慧布料與穿</h6>
		<p>多功能彈性纖維紡織品的發展勢，能彈性纖維紡在機能性服飾的用飾的應用...... <a href="">更多</a> </p>
	</div>
	<div class="issue_content">
		<div class="photo">
			<img src="img/t04.jpg" alt="">
			<div class="issue_grey">
				智慧型紡織品
			</div>
		</div>
		<h6>課程初稿 智慧布料與穿</h6>
		<p>多功能彈性纖維紡織品的發展勢，能彈性纖維紡在機能性服飾的用飾的應用...... <a href="">更多</a> </p>
	</div>
	<div class="clear"></div>
</div>



<!-- vote -->
<div class="common_title">
	<div class="main_title">
		<div class="t-title">
	
			<h6>投票議題</h6>
		</div>
	</div>
</div>
<div class="voting">
	<div class="voting_item">
		<a href="">川普當選使美國退出TPP，將使台灣紡織業者 全球佈局受到影響。您的看法是？</a>
	</div>
	<div class="voting_item">
		<a href="">川普當選使美國退出TPP，將使台灣紡織業者 全球佈局受到影響。您的看法是？</a>
	</div>

</div>




<!-- industry -->
<div class="industry">
	<div class="insustry_left">
		<div class="article_title">
			<div class="t-title">
		
				<h6>產業脈動</h6>
			</div>
		</div>
		<div class="industry_photo">
			<img src="img/t05.jpg" alt="">
			<div class="white_mask">
				Tnet精選
			</div>
		</div>
		<div class="industry_photo">
			<img src="img/t06.jpg" alt="">
			<div class="white_mask">
				全球訊息
			</div>
		</div>
		<div class="industry_photo">
			<img src="img/t07.jpg" alt="">
			<div class="white_mask">
				名家觀點 
			</div>
		</div>
		<div class="industry_photo">
			<img src="img/t04.jpg" alt="">
			<div class="white_mask">
				研討會解讀
			</div>
		</div>


	</div>

	<div class="insustry_right">
		<div class="article_title">
			<div class="t-title">
				<h6>活動訊息</h6>
			</div>
		</div>
		<div class="new_message">
			<a href="">
				<span class="circle"></span> 
				<p>國貿局跨太乎洋夥伴協定（TPP﹚會員關稅減讓表查詢系統建置完成</p>
			</a>
			<a href="">
				<span class="circle"></span> 
				<p>立裁技巧打版創作班(進階一)(4/23,4/30,5/7,5/14,5/21)</p>
			</a>
			<a href="">
				<span class="circle"></span> 
				<p>立裁技巧打版創作班(進階,平日班)(5/23,5/24,5/31,6/6,6/7,6/13,6/20,6/21,6/27)</p>
			</a>
			
			<a href="">
				<span class="circle"></span> 
				<p>舒適性戶外服飾-版型解析及實務操作(1/7,1/14,1/21,2/11)</p>
			</a>
		</div>

		<div class="article_title">
			<div class="t-title">
		
				<h6>Tnet影音</h6>
			</div>
		</div>
		<div class="Tnet_video">
			<div class="video_link">
				<img src="img/t09.jpg" alt="">
			</div>
			<div class="video_des">
				<h6>Megatrends及消費者行為描述</h6>
				<p>2014 CEO Workshop </p>
				<p>Workshop</p>
				<p>背景介紹-鄭凱方副主任</p>
			</div>

		</div>
	</div>

</div>


<!-- 熱門點閱 -->
<div class="hot_click">
	<div class="click_review">
		<div class="article_title">
			<div class="t-title">
		
				<h6>熱門點閱</h6>
			</div>
		</div>
		 <a href=""> 
		 	<span class="circle"></span> 
		 	<p>國貿局跨太乎洋夥伴協定（TPP﹚會員關稅減讓表查詢系統建置完成</p>
		 </a>
		 <a href=""> 
		 	<span class="circle"></span> 
		 	<p>立裁技巧打版創作班(進階一)(4/23,4/30,5/7,5/14,5/21)</p>
		 </a>

		 <a href=""> 
		 	<span class="circle"></span> 
		 	<p>立裁技巧打版創作班(進階,平日班)(5/23,5/24,5/31,6/6,6/7,6/13,6/14,6/20,6/21,6/27)</p>
		 </a>

		 <a href=""> <span class="circle"></span> <p>立裁技巧打版創作班(進階,平日班)(5/23,5/24,5/31,6/6,6/7,6/13,6/14,6/20,6/21,6/27)</p></a>
		 
		 <a href=""> 
		 	<span class="circle"></span> 
		 	<p>舒適性戶外服飾-版型解析及實務操作(1/7,1/14,1/21,2/11)</p>
		 </a>
	</div>
	<div class="books_info">
		<div class="article_title">
			<div class="t-title">
		
				<h6>Tnet 書坊</h6>
			</div>
		</div>
		<div class="slider1">
 			 <div class="slide slide_book">
	 			 	<div class="book">
	 			 		<img src="img/book-1.jpg"><p>紡織藝術史</p>
	 			 	</div>
 			 </div>
 			 <div class="slide slide_book">
	 			 	<div class="book">
	 			 		<img src="img/book-2.jpg"><p>紡織藝術史</p>
	 			 	</div>
 			 </div>
 			 <div class="slide slide_book">
	 			 	<div class="book">
	 			 		<img src="img/book-1.jpg"><p>紡織藝術史</p>
	 			 	</div>
 			 </div>
 			 <div class="slide slide_book">
	 			 	<div class="book">
	 			 		<img src="img/book-2.jpg"><p>紡織藝術史</p>
	 			 	</div>
 			 </div>

		</div>


	
				
	</div>
</div>



<div class="common_title">
	<div class="main_title">
		<div class="t-title">
	
			<h6>Tnet工具與資源連結</h6>
		</div>
	</div>
</div>

<div class="resource_tool">
	
	<div class="resource_item">
		<img src="img/icon_01.png" alt="">
		<p>圖書館資源</p>                                                     
	</div>
	<div class="resource_item">
		<img src="img/icon_02.png" alt="">
		<p>紡織學院 </p>
	</div>
	<div class="resource_item">
		<img src="img/icon_03.png" alt="">
		<p>紡織知識庫</p>
	</div>
	<div class="resource_item">
		<img src="img/icon_04.png" alt="">
		<p>纖維及紗線支數換算</p>
	</div>
	<div class="resource_item">
		<img src="img/icon_05.png" alt="">
		<p>紡織中英名詞對照</p>
	</div>
	<div class="resource_item">
		<img src="img/icon_06.png" alt="">
		<p>產業民調</p>
	</div>
	<div class="resource_item">
		<img src="img/icon_07.png" alt="">
		<p>年報與名錄</p>
	</div>
	<div class="resource_item">
		<img src="img/icon_08.png" alt="">
		<p>數位印刷技術</p>
	</div>
	<div class="resource_item">
		<img src="img/icon_09.png" alt="">
		<p>ITIS智網</p>
	</div>


</div>

<div class="ad_section">

	<div class="slider2">
	  <div class="slide slide_ad"><img src="img/ad-1.jpg" alt=""></div>
	  <div class="slide slide_ad"><img src="img/ad-2.jpg" alt=""></div>
	  <div class="slide slide_ad"><img src="img/ad-3.jpg" alt=""></div>
	  <div class="slide slide_ad"><img src="img/ad-4.jpg" alt=""></div>
	  <div class="slide slide_ad"><img src="img/ad-5.jpg" alt=""></div>
	  <div class="slide slide_ad"><img src="img/ad-1.jpg" alt=""></div>
	  <div class="slide slide_ad"><img src="img/ad-2.jpg" alt=""></div>
	  <div class="slide slide_ad"><img src="img/ad-3.jpg" alt=""></div>
	  <div class="slide slide_ad"><img src="img/ad-4.jpg" alt=""></div>
	</div>

</div>


{% endblock %} -->