<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<!-- <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
 --><meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="/favicon.ico" />
<meta name="keywords" content="">
<meta name="description" content="">
<title>Tnet 全球</title>



<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/jquery.bxslider.css">
<link rel="stylesheet" href="css/module.css">

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>

<script type="text/javascript" src="http://momentjs.com/downloads/moment.min.js"></script>
<script src="js/ui.js"></script>



</head>
<body>

{% block page %}{% endblock %}
	
<div class="footer_wrapper_1">
	<div class="footer_link">
		<a href="">關於Tnet</a>
		<a href="">母站</a>
		<a href="">會員權益</a>
		<a href="">會員列表</a>
		<a href="">網站導覽</a>
		<a href="">留言板</a>
	</div>
</div>
<div class="footer_wrapper_2">
	<div class="footer_copyright">
		<img src="img/footerlogo.png" alt="">
		<div class="copyright">
			<p>◎財團法人紡織產業綜合研究所 版權所有</p>
			<p>copyright◎2013 Taiwan Textile Research Institute. All Rights Reserved.</p>
			<p>聯絡窗口　電話:02-2267-0321分機8105　信箱: aaa@aaa.com　傳真:02-2267-8107</p>
		</div>
			
	</div>
</div>

</body>
</html>